@import url('https://fonts.googleapis.com/css?family=Oswald');
@font-face {
  font-family: 'Milestone';
  src: url('./assets/fonts/MilestoneFreeVersion-Script.otf');
}

::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  &:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

header,
main {
  width: 100%;
  overflow: hidden;
}

header {
  display: block;
  height: 77px;
  margin: 0;
  padding: 0;
  font-family: 'Milestone', sans-serif;
  letter-spacing: 1px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 77px);
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

//global color classes
//TODO change colors to less blinding
.black {
  background-color: black;
  background-image: none;
}

.brown {
  background-color: saddlebrown;
  background-image: none;
}

.red {
  background-color: red;
  background-image: none;
}

.orange {
  background-color: orange;
  background-image: none;
}

.yellow {
  background-color: yellow;
  background-image: none;
}

.green {
  background-color: green;
  background-image: none;
}

.blue {
  background-color: blue;
  background-image: none;
}

.violet {
  background-color: darkviolet;
  background-image: none;
}

.grey {
  background-color: grey;
  background-image: none;
}

.white {
  background-color: white;
  background-image: none;
}

.gold {
  background-color: gold;
  background-image: none;
}

.silver {
  background-color: silver;
  background-image: none;
}

//header
.header-title {
  height: 100%;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 55px;
  font-weight: 400;
}

//main
@import "./assets/styles/resistor.scss";
@import "./assets/styles/bands-list.scss";
@import "./assets/styles/colors-list.scss";

@media screen and (max-width: 760px) {
  header {
    height: 40px;
  }

  main {
    height: calc(100vh - 40px);
  }

  .header-title {
    padding: 4px 0;
    font-size: 30px;
  }
}

@media screen and (max-height: 420px) {
  body {
    height: auto;
  }

  header {
    height: 40px;
  }

  main {
    height: auto;
  }

  .header-title {
    padding: 4px 0;
    font-size: 30px;
  }
}
