.bands-list {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px;

  &__title {
    margin: 20px auto 0;
    text-align: center;
  }

  &__band-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background-position: cover;
    margin-left: 15px;

    &:hover {
      cursor: pointer;
    }

    &.none {
      background-color: none;
      background-image: url('./assets/img/null_color.svg');
    }
  }

  &__band-btn:nth-of-type(1) {
    margin-left: 0 !important;
  }

  &__band-marker {
    display: block;
    height: 20px;
    width: 20px;
    position: relative;
    top: -17px;
    left: calc(50% - 10px);
    transition: opacity .3s ease, top .3s ease;
    opacity: 0;

    &.show-marker {
      opacity: 100;
    }
  }

  &__band-btn:hover &__band-marker {
    opacity: 100;
    top: -25px;
  }

  &__band-description {
    display: block;
    width: 50px;
    position: relative;
    bottom: -30px;
    left: calc(50% - 25px);
    text-align: center;
    backface-visibility: hidden;
  }
}

@media screen and (max-width: 760px) {
  .bands-list {
    height: auto;

    &__title {
      margin-top: 5px;
    }
  }
}

@media screen and (max-width: 420px) {
  .bands-list {
    justify-content: space-around;
    margin: 20px 0 40px;

    &__band-btn {
      margin: 0;
    }

    &__band-description {
      font-size: 20px;
    }
  }
}
