.loadScreen {
  display: block;
  height: calc(100% - 77px) !important;
  width: 100% !important;
  margin-top: 77px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 4;
  &.hide {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .loadScreen {
    height: calc(100% - 40px) !important;
    margin-top: 40px;
  }
}

.cssload-wraper {
  width: 0px;
  display: block;
  margin: 130px auto;
}

.cssload-dots {
  font-family: sans-serif;
  font-weight: 100;
}

.cssload-dots:not(:required) {
  overflow: hidden;
  position: relative;
  text-indent: -23748px;
  display: inline-block;
  width: 17px;
  height: 17px;
  background: transparent;
  border-radius: 100%;
  box-shadow: rgb(235, 65, 23) -33px -33px 0 17px, rgb(255, 163, 25) 33px -33px 0 17px, rgb(49, 222, 55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
  animation: cssload-dots 4.75s infinite ease-in-out;
  transform-origin: 50% 50%;
}



@keyframes cssload-dots {
  0% {
    box-shadow: white 0 0 36px 0, rgba(235,65,23,0.98) -33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
  }

  8.33% {
    box-shadow: white 0 0 36px 0, rgb(235, 65, 23) 33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
	}

	16.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px 33px 0 17px, rgb(255,163,25) 33px 33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
	}

	25% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px 33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px 33px 0 17px, #44aaee -33px 33px 0 17px;
	}

	33.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px -33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee -33px -33px 0 17px;
	}

	41.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px -33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	50% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px 33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	58.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px 33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	66.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px -33px 0 17px, rgb(255,163,25) -33px -33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	75% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	83.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px 33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, #44aaee 33px 33px 0 17px;
	}

	91.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px 33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, #44aaee -33px 33px 0 17px;
	}

	100% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, #44aaee -33px 33px 0 17px;
	}
}

@-o-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 36px 0, rgba(235,65,23,0.98) -33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
	}

	8.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
	}

	16.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px 33px 0 17px, rgb(255,163,25) 33px 33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
	}

	25% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px 33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px 33px 0 17px, #44aaee -33px 33px 0 17px;
	}

	33.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px -33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee -33px -33px 0 17px;
	}

	41.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px -33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	50% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px 33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	58.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px 33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	66.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px -33px 0 17px, rgb(255,163,25) -33px -33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	75% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	83.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px 33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, #44aaee 33px 33px 0 17px;
	}

	91.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px 33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, #44aaee -33px 33px 0 17px;
	}

	100% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, #44aaee -33px 33px 0 17px;
	}
}

@-ms-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 36px 0, rgba(235,65,23,0.98) -33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
	}

	8.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
	}

	16.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px 33px 0 17px, rgb(255,163,25) 33px 33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
	}

	25% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px 33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px 33px 0 17px, #44aaee -33px 33px 0 17px;
	}

	33.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px -33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee -33px -33px 0 17px;
	}

	41.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px -33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	50% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px 33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	58.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px 33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	66.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px -33px 0 17px, rgb(255,163,25) -33px -33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	75% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	83.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px 33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, #44aaee 33px 33px 0 17px;
	}

	91.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px 33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, #44aaee -33px 33px 0 17px;
	}

	100% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, #44aaee -33px 33px 0 17px;
	}
}

@-webkit-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 36px 0, rgba(235,65,23,0.98) -33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
	}

	8.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
	}

	16.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px 33px 0 17px, rgb(255,163,25) 33px 33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
	}

	25% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px 33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px 33px 0 17px, #44aaee -33px 33px 0 17px;
	}

	33.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px -33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee -33px -33px 0 17px;
	}

	41.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px -33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	50% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px 33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	58.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px 33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	66.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px -33px 0 17px, rgb(255,163,25) -33px -33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	75% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	83.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px 33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, #44aaee 33px 33px 0 17px;
	}

	91.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px 33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, #44aaee -33px 33px 0 17px;
	}

	100% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, #44aaee -33px 33px 0 17px;
	}
}

@-moz-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 36px 0, rgba(235,65,23,0.98) -33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
	}

	8.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
	}

	16.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px 33px 0 17px, rgb(255,163,25) 33px 33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, rgb(68,170,238) -33px 33px 0 17px;
	}

	25% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px 33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px 33px 0 17px, #44aaee -33px 33px 0 17px;
	}

	33.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px -33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee -33px -33px 0 17px;
	}

	41.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px -33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	50% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px 33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	58.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px 33px 0 17px, rgb(255,163,25) -33px 33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	66.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px -33px 0 17px, rgb(255,163,25) -33px -33px 0 17px, rgb(49,222,55) -33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	75% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px -33px 0 17px, #44aaee 33px -33px 0 17px;
	}

	83.33% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) 33px 33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, #44aaee 33px 33px 0 17px;
	}

	91.67% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px 33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, #44aaee -33px 33px 0 17px;
	}

	100% {
		box-shadow: white 0 0 36px 0, rgb(235,65,23) -33px -33px 0 17px, rgb(255,163,25) 33px -33px 0 17px, rgb(49,222,55) 33px 33px 0 17px, #44aaee -33px 33px 0 17px;
	}
}
