.resistor {
  width: 100%;
  margin-top: 20px;

  &__container {
    display: flex;
    height: 120px;
    width: 400px;
    margin: 0 auto;
    background-image: url('./assets/img/Resistor2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  %band {
    width: 24px;
    position: relative;
    &.none {
      background-color: none;
    }

    &.white {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }

  &__first-band {
    @extend %band;

    height: 117px;
    top: calc(50% - 58px);
    left: 72px;
  }

  &__second-band {
    @extend %band;

    height: 98px;
    top: calc(50% - 48px);
    left: 94px;
  }

  &__third-band {
    @extend %band;

    height: 98px;
    top: calc(50% - 48px);
    left: 103px;
  }

  &__fourth-band {
    @extend %band;

    height: 98px;
    top: calc(50% - 48px);
    left: 113px;
  }

  &__fifth-band {
    @extend %band;

    height: 98px;
    top: calc(50% - 48px);
    left: 163px;
  }

  &__sixth-band {
    @extend %band;

    height: 117px;
    top: calc(50% - 58px);
    left: 186px;
  }

  &__band-marker {
    display: block;
    height: 20px;
    width: 20px;
    position: relative;
    top: -17px;
    left: calc(50% - 10px);
    content: url('./assets/img/arrow.svg');
    opacity: 0;
    transition: opacity .3s ease, top .3s ease;

    &.show-marker {
      opacity: 100;
    }
  }

  &__result {
    text-align: center;
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .resistor {
    margin-top: 0;

    &__container {
      width: 300px;
    }

    %band {
      width: 18px;
    }

    &__first-band {
      height: 88px;
      top: calc(50% - 44px);
      left: 54px;
    }

    &__second-band {
      height: 74px;
      top: calc(50% - 36px);
      left: 70px;
    }

    &__third-band {
      height: 74px;
      top: calc(50% - 36px);
      left: 78px;
    }

    &__fourth-band {
      height: 74px;
      top: calc(50% - 36px);
      left: 85px;
    }

    &__fifth-band {
      height: 74px;
      top: calc(50% - 36px);
      left: 122px;
    }

    &__sixth-band {
      height: 88px;
      top: calc(50% - 44px);
      left: 140px;
    }
  }
}
